.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
server/dist
public/dist
.vscode
.idea
.vercel
.env*.local
/blob-report/
/out
/docker
/machinekey

.cursor
config.bat
