// include styles from the ui package
@use "./vars.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .ztdl-h1 {
    @apply font-alliance font-normal leading-[1.2] text-center tracking-[-0.02em];
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
  }

  .ztdl-p {
    @apply text-center;
    
    &.description {
      font-size: 14px;
    }

    &-secondary {
      @apply opacity-50;
      font-size: 12px;
    }

  }

  body {
    @apply text-navy dark:text-cream;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

html {
  --background-color: #ffffff;
  --dark-background-color: #000000;
}

.form-checkbox:checked {
  background-image: url("/checkbox.svg");
}

.skeleton {
  --accents-2: var(--theme-light-background-400);
  --accents-1: var(--theme-light-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

.dark .skeleton {
  --accents-2: var(--theme-dark-background-400);
  --accents-1: var(--theme-dark-background-500);

  background-image: linear-gradient(
    270deg,
    var(--accents-1),
    var(--accents-2),
    var(--accents-2),
    var(--accents-1)
  );
  background-size: 400% 100%;
  animation: skeleton_loading 8s ease-in-out infinite;
}

@keyframes skeleton_loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.boxed-card {
  > p.description {
    margin-top: 12px;
    margin-bottom: 24px;
  }

  form {
    @apply space-y-3;
  }

  > p.or-sign-in-with {
    margin-top: 24px;
    margin-bottom: 12px;
  }
}
